<!DOCTYPE html>
<html>
  <head>
    <title>RailsPrivateEvents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if cookies[:name] %>
      <p>Current user: <%= cookies[:name] %> </p>
    <% end %>
    <%= yield %>
  </body>
</html>
